@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap");

:root {
  /* font size */
  --text-h1: 30px;
  --text-h2: 23px;
  --text-p: 17px;

  /* Color of letters*/
  --text-color-on-primary-background: #333333;
  --text-color-on-secondary-background: #ffffff;

  /* font family titles */
  --font-family-title: "Kalam", cursive;

  /* backgrounds */
  --main-background-color: #f2f2f2;
  --secondary-background-color: #333333;
  --tertiary-background-color: #b50938;
}
/*-----------------------------------*/

/* Loader */

.containerLoader {
  padding: 140px 0px;
  display: flex;
  justify-content: center;
}

.loader { 
  width: 100px;
  height: 100px;
  border: 8px solid var(--tertiary-background-color);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*_____________________*/

/* Media screen Mobile and tablet*/
.title {
  font-size: var(--text-h1);
  font-family: var(--font-family-title);
  text-align: center;
  font-weight: bold;
  color: var(--tertiary-background-color);
  margin-top: 140px;
  margin-bottom: 20px;
}

/*______________________*/
.containerCategoryes {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 10px 20px 10px;
  background-color: #f2f2f2;
}

.containerLinks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0px 20px;
  gap: 10px;
}

a {
  text-decoration: none;
  color: black;
}

.Linkcategory {
  padding: 5px 10px 5px 10px;
  text-align: center;
  border-radius: 20px;
  background-color: var(--secondary-background-color);
  color: var(--text-color-on-secondary-background);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Linkcategory:hover {
  background: #191919;
}

.containerSearch {
  margin: 0 auto;
}

.containerSearch form {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.containerSearch input[type="text"] {
  font-size: var(--text-p);
  width: 75%;
  height: 25px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 7px;
  outline: none;
  margin-right: 10px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.containerSearch button {
  font-size: var(--text-p);
  padding: 10px 12px;
  border: none;
  border-radius: 4px;
  background-color: #2ecc71;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.containerSearch button:hover {
  background-color: #1c8447;
}

/*______________________*/

/*______________________*/
.containerNews {
  margin: 0 auto;
}

.item {
  margin: 10px 0px 40px 0px;
  background: #ffffff;
  box-shadow: 1px 4px 30px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s;
}

.item:hover {
  box-shadow: 1px 4px 30px rgba(0, 0, 0, 0.3);
}

.titleNews {
  padding: 10px;
  font-size: 21px;
  margin: 0px;
}

.item:hover .titleNews {
  text-decoration: underline;
}

.img {
  width: 100%;
  transition: all 0.4s;
}

.item:hover .img {
  transform: scale(1.04);
}

.date {
  font-size: var(--text-p);
  color: var(--text-color-on-primary-background);
  margin: 5px 14px 6px 0px;
  padding-bottom: 5px;
  text-align: end;
}
/*______________________*/

/*-----------------------------------*/

/* Media screen Tablet*/
@media screen and (min-width: 750px) and (max-width: 950px) {
  .title {
    margin-top: 20px;
  }

  .containerNews {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    gap: 30px;
  }

  .item {
    margin: initial;
    background: #ffffff;
    border-radius: 7px;
    box-shadow: 1px 4px 30px rgba(0, 0, 0, 0.1);
  }

  .titleNews {
    height: 30%;
  }

  .img {
    height: 50%;
  }

  .date {
    height: 10%;
  }
}
/*-----------------------------------*/

/* Media screen Desktop*/
@media screen and (min-width: 950px) {
  /*______________________*/
  .title {
    margin-top: 20px;
  }

  .containerNews {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 85%;
    gap: 30px;
  }

  .item {
    height: 400px;
    margin: initial;
    border-radius: 7px;
  }

  .titleNews {
    height: 32%;
  }

  .img {
    height: 50%;
  }

  .date {
    height: 10%;
  }
  /*______________________*/

  /*______________________*/
  .containerCategoryes {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 87%;
  }
  .containerLinks {
    display: flex;
  }

  .containerSearch {
    margin: initial;
    margin-right: 20px;
  }
  /*______________________*/
}
